.lbody{
    position: relative;
    height: 100vh;
}
.lcurrent{
    background-color: yellow;
    width:200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -100px;
    margin-top: -100px;
    text-align: center;
} 
.ltricks{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 400px;
    text-align: center;
}
.lmy{
    width:100vw;
    position: absolute;
    bottom: 150px;
    text-align: center;
    font-size: 20px;
}
 .lready{
    width: 400px;
    margin-top: 50px;
    border: 1px solid  black;
}
.lready div:nth-child(1){
    text-align: center
}
.activePlayer{
    position: absolute;
}