.prepare{
    margin:15%;
    position: absolute;
    width: 70%;
    height:70%;
    display: none;
    /*background-color: aqua;*/
}
.prepare > button {
     position: absolute;
     width:20%;
     height:10%;
     font-size: 13.333px;

     background-color: #1B9AF7;
     border:0px solid #ffffff;
     color:#FFFFFF;
     border-radius:4px;
 
    }
.prepare > .ready {
    opacity: 0.5;
}
.prepare > button:nth-child(1) {
    margin-top:45%; /* 50 - 10/2 */
    right:0px;
}
.prepare > button:nth-child(2) {
    margin-left:40%; /* 50 - 20/2 */
    bottom:0px;
}
.prepare > button:nth-child(3) {
    margin-top:45%;
    left:0px;
}
.prepare > button:nth-child(4) {
    margin-left:40%;
    top:0px;
}
