
.UserTag{
    display: inline-block;
    margin:auto;
    height:100%;
    width:auto;
    text-align: left;
}
.UserTag > div{
    margin-left:0.5vw;
    /* background-color: aquamarine; */
    float:left;
    height:100%;
}
.UserTag .uname{
    color:#FFFF00;
    font-size:2.5vh;
    height:60%;
}
.UserTag .urank{
    color:#dddddd;
    font-size:2vh;
    height:40%;
}
.UserTag .face{
    position: relative;
    height:100%;
}
.UserTag .face > div{
    position: absolute;
    left:-7vh;
    height:100%;
    width:6vh;
    color:#FFFFFF;

}
.UserTag img{
    height:100%;
    float:left;
}
.hcp{
    display: inline-block;
    margin:auto;
    right:0px;
    color:#FFF;
    font-size:2vh;
}